@charset "utf-8";

html, body{padding:0;margin:0;width:100%;height:auto;font-family:"AlegreyaRegular", "Times New Roman", "Georgia";font-size:15px;color:#363636;line-height:1.618;}
    body{overflow-x:hidden;background-color:#ecebe7;}
    .content{width:96%;max-width:1260px;margin:0 auto;}

    #wrap-top{width:100%;padding:20px 0px;height:360px;z-index:5;}
        #logo{}
        #text{}
            #text span:nth-of-type(1){width:300px;}
            #text span:nth-of-type(2){width:170px;margin-left:5px;}
        #quote{display:block;margin-top:20px;max-width:70%;height:100%;}

    #wrap-image{width:100%;height:400px;position:absolute;top:0px;overflow:hidden;}
        #slideshow {width:100%;height:100%;}
            #slideshow .slide {width:100%;height:100%;}
    #wrap-content{background:url("_images/scribble.png") top right no-repeat;}
        #wrap-content .content, #wrap-red .content, #wrap-icons .content, #wrap-text .content, footer .content{padding:2% 0%;}
        #wrap-menu{width:100%;max-width:1260px;margin:0 auto;text-align: center;top:-10px;background:white;}
            #menu{text-align: left;margin:0px 20px;}
            #contact{position:absolute;top:15px;right:20px;text-align: right;z-index:15;}
                #contact a{margin-left:30px;}
                    #contact a:hover{color:#ac1204;}
                #contact img{display:inline-block;vertical-align: middle;margin-right:5px;top:-4px;}
        #wrap-content .right a{color:#ac1204;}
        #wrap-content .right img[src*="/images/"] {max-width:100%;height:auto !important;}

    #wrap-icons{}
        #wrap-icons .icon{width:calc(84% / 8);padding:0px 1%;display:inline-block;vertical-align: top;text-align: center;}
        #wrap-icons .icon img{margin-bottom:10px;}
        #wrap-icons .iconspan{text-transform: lowercase;}
        #wrap-icons .icon a {display:block;}
        #wrap-icons .icon a:hover{color:#ac1204;}

    #wrap-news{}
        #wrap-news .content{padding:2% 0%;}
        #wrap-news .news-one{width:31.3%;display:inline-block;vertical-align: top;}
        #wrap-news .news-one a {color:white;}
        #wrap-news .title {display:grid;grid-template-columns: auto auto;align-items:start;grid-gap:20px;justify-content:start;}
            #wrap-news .news-one .news-date {color:#ac1204;line-height: 1;}
        #wrap-news .news-one:nth-of-type(1), #wrap-news .news-one:nth-of-type(2){margin-right:3%;}
            #wrap-news .news-one .more{margin-top:15px;cursor:pointer;padding:10px 35px;}
            #wrap-news .news-one a .size-14{margin-top:10px;}
            #wrap-news .news-one a:hover .more{background-color:#cfc6c5;color:#14130f;}

        .news-link{display:block;margin-bottom:20px;}
            .news-link-date{background-color:white;padding:3px 5px;display:inline-block;}
                .news-link:hover, .news-link.active{background-color:#c4b9b8;}

        .page-link{display:block;padding:5px;margin-bottom:10px;background-color:#c4b9b9;}
            .page-link.active, .page-link:hover{background-color:#ac1204;color:white;}
            .page-link.lvl2{margin-left:20px;}

    #wrap-text a{color:white;}
        #wrap-text img{top:5px;margin-right:5px;}
        #wrap-text a:hover{color:#cfc6c5;}

    .left, .right{float:right;}
    .left{width:30%;vertical-align: top;padding-top:15px;}
        .left .page-link {background-color: #e4e2dc;}
        .left .page-link:hover, .left .page-link.active {background-color:#ac1204;}
    .right{width:68%;margin-left:2%;vertical-align: top;}

    #gallery{margin-top:2%;}
    .gallery-link{display:inline-block;width:calc(94% /3);margin:1%;vertical-align: top;}
    .gallery-image{width:100%;overflow:hidden;padding-bottom:100%;height:0px;}
    .gallery-link .align-center{margin-top:10px;}

    #contact-form {width:100%;max-width:700px;}
        #contact-form input[type="text"], #contact-form textarea, #contact-form input[type="email"]{width:96%;padding:2%;border:0px;font-family:"AlegreyaRegular";font-size:14px;color:333;background:white;display:block;margin-bottom:2%;}
        #contact-form textarea{resize:none;height:120px;}
        #contact-form input[type="submit"]{color:white;display:inline-block;font-family:"AlegreyaBold";background-color:#ac1204;font-size:20px;padding:15px 100px;max-width:320px;border:0px;letter-spacing: 1px;cursor:pointer;}
        #contact-form input[type="submit"]:hover{background-color:#363636;}
        .ok, .error{font-family:"AlegreyaBold";font-size:16px;max-width:700px;width:100%;text-align:center;}
        .ok{color:green;}
        .error{color:red;}

        .file-category{margin-bottom:2%;padding-bottom:2%;border-bottom:1px dotted #333;}
            .file-category-title{}
            .file-link{display:inline-block;padding:5px 10px;margin-top:1%;}
                .file-link:hover{background-color:#363636;color:white;}
                .file-link span{background:url("_images/filea.png") no-repeat center left;background-size:contain;display:block;padding:5px;padding-left:50px;}
                .file-link:hover span{background:url("_images/file.png") no-repeat center left;background-size:contain;}

/******************************
********* NAVIGATION **********
******************************/
.navigation, .navigation ul{list-style-type:none;padding:0;margin:0;z-index:9;}
	.navigation li {position:relative;cursor:pointer;}
	.navigation li.lvl0{}
	.navigation li.lvl0:hover, .navigation li.lvl0.active{}
		.navigation li.lvl0 > a {color:inherit;}
		.navigation ul.nav-ul-1{}
			.navigation li.lvl1 {}
			.navigation li.lvl1:hover, .navigation li.lvl1.active {}
				.navigation li.lvl1 > a {color:inherit;}
				.navigation ul.nav-ul-2 {}
					.navigation li.lvl2 {}
					.navigation li.lvl2:hover, .navigation li.lvl2.active {}
						.navigation li.lvl2 > a {color:inherit;}

	/* Specific navigation  */
		#menu .lvl0 {display:inline-block;vertical-align: top;margin:15px 10px;}
			#menu .lvl0 > a {font-size:22px;color:#14130f;text-align: center;padding:10px 0px 15px 0px;}
			#menu .lvl0:hover > a, #menu .lvl0.active > a {color:#ac1204;border-bottom:10px solid #ac1204;}


/******************************
********* COOKIE INFO *********
******************************/
#cookie-info-wrap{position:fixed;z-index:9000;width:100%;font-family:inherit;bottom:0px;background-color:white;}
	#cookie-info{width:90%;position:relative;z-index:2;margin:0 auto;padding:15px 0px;text-align: center;}
        #cookie-info > span{display:inline-block;width:80%;vertical-align: middle;text-align: left;padding-left:3%;}
		#cookie-info-accept{font-size:14px;text-align:center;padding:10px 20px;background-color:green;color:white;display:inline-block;vertical-align: middle;}

@media(max-width:1100px) {#cookie-info > span{width:75%;}}
@media(max-width:800px) {#cookie-info > span{width:100%;padding-left:0px;padding-top:2%;text-align: center;}}




/******************************
*********** PROMOBOX **********
******************************/
#promobox-wrap{width:100%;text-align:center;}
    #promobox-in{padding:2%;background-color:white;display:inline-block;}
        #promobox {display:inline-block;}
            #promobox-image{height:100%;max-width:100%;}
            #promobox.fit #promobox-image{width:100%;}


/******************************
********** GENERAL ************
******************************/
a, a img{border:0;text-decoration:none;outline:0;} a:hover{}

*{outline:none;position:relative;z-index:2;}

h1 {} h2 {} h3 {} h4 {} h1, h2, h3, h4{margin:0;font-weight:normal;}

.size-11{font-size:11px;} .size-12{font-size:12px;} .size-13{font-size:13px;} .size-14{font-size:14px;} .size-15{font-size:15px;} .size-16{font-size:16px;} .size-17{font-size:17px;} .size-18{font-size:18px;} .size-19{font-size:19px;} .size-20{font-size:20px;} .size-21{font-size:21px;} .size-22{font-size:22px;} .size-23{font-size:23px;} .size-24{font-size:24px;} .size-25{font-size:25px;} .size-26{font-size:26px;} .size-27{font-size:27px;} .size-28{font-size:28px;} .size-30{font-size:30px;} .size-32{font-size:32px;} .size-50{font-size:50px;}

.align-left{text-align:left;} .align-center{text-align:center;} .align-right{text-align:right;} .align-justify{text-align:justify;}

.bg-grey{background-color:#cfc6c5;} .bg-white{background-color:white;} .bg-grey-dark{background-color:#271e25;} .bg-greypink{background-color:#e4e2dc;} .bg-yellow{background-color:#f4e707;} .bg-red{background-color:#ac1204;}

.colour-white{color:white;} .colour-grey{color:#cfc6c5;} .colour-grey-dark{color:#363636;} .colour-red{color:#ac1204;} .colour-yellow{color:#f4e707;}

.font-bold{font-weight:bold;} .font-normal{font-weight:normal !important;} .font-fjord{font-family:"Fjord";} .font-abold{font-family:"AlegreyaBold";} .font-a{font-family:"AlegreyaRegular";}

.c{clear:both;} .float-left{float:left;} .float-right{float:right;} .no-float{float:none !important;clear:both;}

.display-block{display:block;} .display-inline{display:inline;} .display-iblock{display:inline-block;} .display-none{display:none;}

.va-top{vertical-align: top;} .va-middle{vertical-align: middle;}

.no-margin{margin:0px;} .no-padding{padding:0px;} .no-border{border:0px;}

.cursor-pointer{cursor:pointer;}


/******************************
************ CSS3 *************
******************************/

/* Transition lenghts */
.trans{transition: all 0.5s ease-in-out;   text-decoration: none; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out;  -o-transition:all 0.5s ease-in-out; }

/* Opacity */
.o-70{filter:alpha(opacity=70); -moz-opacity:0.70; -khtml-opacity:0.70; opacity:0.70; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";}
.o-80{filter:alpha(opacity=80); -moz-opacity:0.80; -khtml-opacity:0.80; opacity:0.80; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";}
.o-90{filter:alpha(opacity=90); -moz-opacity:0.90; -khtml-opacity:0.90; opacity:0.90; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";}
.o-90:hover, .o-80:hover, .o-70:hover, .hover:hover{filter:alpha(opacity=100); -moz-opacity:1.0; -khtml-opacity:1.0; opacity:1.0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}

/* CSS3 Transformations */
.scale, .toscale:hover{-moz-transform: scale(1.1);-webkit-transform: scale(1.1);transform: scale(1.1);-o-transform:scale(1.1);-ms-transform:scale(1.1);}
.bw{-webkit-filter: grayscale(1);-webkit-filter: grayscale(100%);filter: gray;filter: grayscale(100%);filter: url(desaturate.svg#greyscale);}
.bw-60{-webkit-filter: grayscale(0.6);-webkit-filter: grayscale(60%);filter: gray;filter: grayscale(60%);filter: url(desaturate.svg#greyscale);}

/* Skew, Rotate, Translate */


/******************************
******* MEDIA QUERIES *********
******************************/
@media(max-width:1000px) {
    /* Font sizes */
    .size-32{font-size:24px;}
    span[style*="28px"]{font-size:22px !important;}
    span[style*="23px"]{font-size:19px !important;}

    /* Contact */
    #contact{top:15px;}
}

@media(max-width:1100px){
    /* Menu */
    #menu{text-align:center;}
        #menu .lvl0 > a{padding-bottom:2px;}

    /* Contact */
    #contact{top:0px;width:100%;text-align: center;right:auto;position:relative;margin-top:10px;padding-bottom:10px;}
        #contact a{margin:0px 10px;}

    /* Icons */
    #wrap-icons a{width:23%;padding:2% 1%;}
}

@media(max-width:800px) {
    .left, .right{width:100%;float:none;margin:0;}

    /* News */
    #wrap-news a{width:100%;margin:2% 0%;}

    /* Ckeditor images */
    img[src*="/images/"]{float:none !important;clear:both;display:block;margin:20px auto !important;}
}

@media(max-width:700px) {
    /* Logo */
    #logo{width:100%;display:block;text-align: center;}
    #text{width:100%;display:block;text-align: center;}
    #quote{margin-left:auto;margin-right:auto;}

    #wrap-top{background:#4c4c58;height:auto;}

    #wrap-image{position:relative;height:300px;}
    #wrap-image .slide{left:-36% !important;}

}

@media(max-width:500px) {
    /* Menu */
    #menu .lvl0{margin:10px 5px;}

    /* Contact */
    #contact img{height:20px;width:auto;}

    /* Font sizes */
    .size-32{font-size:20px;}
    .size-30{font-size:26px;}
    span[style*="28px"]{font-size:18px !important;}
    span[style*="42px"]{font-size:28px !important;}

    /* Icons */
    #wrap-icons a{width:48%;}

    #wrap-image {height:200px;}
}

@media(max-width:400px){
    /* Icons */
    #wrap-icons a{width:100%;margin:2% 0%;}

    /* Menu */
    #menu{margin:0px 5px;}
    #menu .lvl0 > a{font-size:19px;}
        #menu .lvl0.active, #menu .lvl0:hover{border-bottom:3px solid #ac1204}
}